%main
  %h1 Retweet.RIP

  - if flash[:notice]
    %p.notice= flash[:notice]

  - if flash[:alert]
    %p.alert= flash[:alert]

  .actions
    = link_to disable_retweets_path, class: "btn" do
      = image_tag "no_retweet.png"
      Disable Retweets

    = link_to enable_retweets_path, class: "btn" do
      = image_tag "retweet.png"
      Enable Retweets
  %p
    #{link_to "It's been proposed", "https://www.theatlantic.com/magazine/archive/2018/04/the-case-against-retweets/554078/?single_page=true", target: "_blank"}
    that the world would be a better place without Retweets. If you would like
    to see what a no Retweet world looks like, click the disable button to turn
    off retweets from all of the people you follow. Don't like it? Turn it back
    on with the enable button.
  %p
    If you're a power user who has spent a lot of time fine tuning which accounts
    you get retweets from and which you don't, this tool is not for you. It will
    heartlessly ruin all of your hard work. So don't click either button.
  %p
    If you're someone who is concerned by the amount of permissions required by
    this app, I empathize with you. But that's all I can do unfortunately.
    Twitter will only allow very corse control over permissions. Essentially I
    can ask for read, or read/write, and I need read/write because I'm modifying
    your friendship settings for each person you follow. I don't keep the access
    that you grant me after the retweets have been enabled/disabled. But you'll
    have to just take my word on that, unfortunately. If you like reading code,
    I've posted mine here:
    #{link_to "willcosgrove/retweet-rip", "https://github.com/willcosgrove/retweet-rip"}
  %hr/
  %p
    This is a pop-up website (in the vein of pop-up shops and restaurants, not
    like one of those annoying popups) made by
    #{link_to "Will Cosgrove", "https://willcosgrove.com"}.  If you wanted to
    share it, that would be cool; but if you don't that's fine too.
